*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 237, 237);
}

.wrap {
    display: flex;
    flex-flow: row wrap; 
    text-align: center;
}

.wrap > * {
    padding: 6px;
    margin: 3px;
    flex: 1 100%
}

.header {
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.main-left {
    display: flex;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.main-center {
    display: flex;
    height: 75vh;
    background-color: white;
    justify-content: end;
    align-items: center;
    line-height: 4;
}

.main-right{
    display: flex;
    background-color: white;
    flex-direction: column;
}

.top-switch {
    position: absolute;
    top: 50%; /* Start from the middle of the container */
    transform: translateY(-50%); /* Center it vertically */
    margin-top: -150px; /* Move it 40 pixels above the center */
}

.bottom-switch {
    position: absolute;
    top: 50%; /* Start from the middle of the container */
    transform: translateY(-50%); /* Center it vertically */
    margin-top: +80px; /* Move it 40 pixels above the center */
}

#timestampFormContainer {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    margin-top: -15px;
    max-width: 250px;
    background-color: #ffffff;
}


input[type="text"] {
    margin: 0;
}

input[type="text"] {
    width: 30px; /* Adjust width as needed */
}

.bottom {
    height: 60px;
    background-color: rgb(255, 255, 255);
}


@media all and (min-width: 600px) {
    .main {
        flex: 1;
    }

    .main-left{
        flex-grow: 10;
    }

    .main-right {
        flex-grow: 1.5;
    }
}

#videoContainer {
    position: relative;
    height: 100%; /* Adjust as needed */
    width: 100%;
    z-index: 5;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.moveButton {
    position: relative;
    width: 106px;
    height: 25px;
    top: 14vh;
    left: 50%;
    background-color: rgb(121, 255, 201), !important;
    z-index: 6;
}

.mirror{
    transform: scaleX(-1);
}

#youtubeVideo {
    width: 100%;
    height: 100%;
}

#fullscreenInstructions {
    position: absolute;
    padding-top: 0px; /* Adjust padding or margin to move the text down */
}

.settingsText {
    font-size: 25px;
}


/* -------------- FOOTER -------------- */
footer {
    position: fixed;
    font-size: 15px;
    color: white;
    background: rgb(179, 179, 179);
    padding: 5px 10px;
    width: 100%;
    bottom: 0px;
    z-index: 4;
}
