*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 237, 237);
}

.wrap {
    display: flex;
    flex-flow: row wrap; 
    text-align: center;
}

.wrap > * {
    padding: 6px;
    margin: 3px;
    flex: 1 100%
}

.header {
    display: flex;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-end; /* Align items to the bottom */
}

.main-left {
    display: flex;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.main-center {
    display: flex;
    background-color: white;
    justify-content: end;
    align-items: center;
    line-height: 4;
    height: 80vh;
}

.bottom {
    height: 7vh;
    background-color: rgb(255, 255, 255);
}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: white;
    flex-direction: column;
    
}

#top-switchContainer {
    margin-top: -20px;
    height: 100px;
}

#bottom-switchContainer {
    height: 100px;
}

#timestampFormContainer {
    height: 100px;
}

#speedContainer {
    height: 0px;
}

input[type="text"] {
    margin: 0;
    width: 25px; /* Adjust width as needed */
}

input::placeholder {
    font-size: 0.9em; /* Adjust the size as needed */
}

@media all and (min-width: 80px) {
    .main {
        flex: 1;
    }

    .main-left{
        flex-grow: 10;
    }

    .main-right {
        flex-grow: 1.5;
    }
}

#videoContainer {
    position: relative;
    height: 100%; /* Adjust as needed */
    width: 100%;
    z-index: 5;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.moveButton {
    position: fixed;
    width: 106px;
    height: 25px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.mirror{
    transform: scaleX(-1);
}

#youtubeVideo {
    width: 100%;
    height: 100%;
}

.settingsText {
    font-size: 25px;
}



/* -------------- NAV LINKS -------------- */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Adjust as needed: center, space-between, etc. */
    padding: 0;
    font-size: 20px;
}

.nav-links li {
    margin-right: 20px; /* Adjust spacing between items */
}

.nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.nav-links li a {
    text-decoration: none; /* Remove underline */
}

.nav-links li a::after {
    content: ' '; 
    padding-left: 100px;
}

/* -------------- FOOTER -------------- */
footer {
    position: fixed;
    font-size: 15px;
    height: 3vh;
    color: white;
    background: rgb(179, 179, 179);
    padding: 5px 10px;
    width: 100%;
    bottom: 0px;
    z-index: 4;
}